h3 {
    color: navy;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.mud-select-input {
    z-index: 2000 !important;
}

/*:root {
   .mud-toolbar {
        --mud-internal-toolbar-height: 15px !important;
    }
}*/