@page "/app/"

<PageTitle>RCA Study Management System (RCA-SMS)</PageTitle>

<h1>RCA Study Management System (RCA-SMS)</h1>
<br />
<br />
Rapid Case Ascertainment (RCA) is a Shared Resource at UNC Lineberger Comprehensive Cancer
Center, under the leadership of Faculty Director Andrew Olshan, PhD and Facility Director Heather
Tipaldos, MS, CRA. It is a collaboration between UNC Lineberger Comprehensive Cancer Center, the
North Carolina Central Cancer Registry (CCR), and participating hospitals in North Carolina. RCA
facilitates cancer prevention and control research that requires early contact with patients and has been
in operation since 1993.
<br />
<br />
The CCR and its ability to provide the RCA system has made North Carolina a national leader in
population-based cancer research. We are among the few in the nation to provide RCA.
Without this program, research involving timely patient contact would not be possible, and
peer reviewers/funding agencies may not fund the studies.
