@namespace RCA_StudyManagementSystem.Shared.Layout
@inherits LayoutComponentBase

@using MudBlazor
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@inject NavigationManager Nav

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <MudMenu Label="@GetDisplayName(context.User)" Dense="true">
                        <ChildContent>
                            <NavLink href="/Account/Manage/ChangePassword" class="mud-menu-item">Change Password</NavLink>
                            <NavLink href="/Account/Logout" class="mud-menu-item">Logout</NavLink>
                        </ChildContent>
                    </MudMenu>
                </Authorized>

                <NotAuthorized>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@Login">
                        Login
                    </MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <div class="alert alert-danger">
                        Please log in to access the application.
                    </div>
                </NotAuthorized>
            </AuthorizeView>
            @Body
        </article>
    </main>
</div>

@code {

    private void Login(MouseEventArgs _)
    {
        var returnUrl = Uri.EscapeDataString(Nav.Uri);
        Nav.NavigateTo($"/Account/Login?returnUrl={returnUrl}", forceLoad: true);
    }

    private void Logout(MouseEventArgs _)
    {
        var returnUrl = Uri.EscapeDataString(Nav.Uri);
        Nav.NavigateTo($"/Account/Logout?returnUrl={returnUrl}", forceLoad: true);
    }

    private static string GetDisplayName(ClaimsPrincipal user)
        => user.Identity?.Name
           ?? user.FindFirst("name")?.Value
           ?? user.FindFirst(ClaimTypes.Email)?.Value
           ?? "Account";
}